$main-color: white;
$sub-color: black;

* {
  user-select: none;
  font-family: 'JetBrains Mono', 'Noto Sans TC';
  font-weight: 500;
}

body {
  background-color: $sub-color;
}

.v-toolbar {
  &.v-toolbar--collapsed {
    max-width: 200px !important;
    background-color: $sub-color !important;
  }
}

.v-parallax__image {
  bottom: 95px !important;
}

.parallax-1 {
  text-align: center;

  .logo {
    height: 180px;
    margin-bottom: 30px;
  }

  h1 {
    font-weight: 800;
  }

  hr {
    margin: 10px 0;
  }
}

.view-height-100 {
  height: 100vh !important;
}

// horizontally
@media (orientation: landscape) {
  .parallax-1 {
    .v-parallax__image {
      // Move the background pattern from the center to the right.
      left: 85% !important;
      width: 100%;
      height: auto;
    }
  }
}

// vertical
@media (orientation: portrait) {
  .parallax-1 {
    .v-parallax__image {
      width: auto;
      height: 100%;
    }
  }
}

// xs
@media (max-width: 599px) {
}

// sm
@media (min-width: 600px) and (max-width: 959px) {
}

// md
@media (min-width: 960px) and (max-width: 1263px) {
}

// lg
@media (min-width: 1264px) and (max-width: 1903px) {
}

// xl
@media (min-width: 1904x) {
}
