$main-color: white;
$sub-color: black;

$animate-float-height: 15px;
$large-button-size: 44px;

* {
  user-select: none;
  font-family: 'JetBrains Mono', 'Noto Sans TC';
  font-weight: 500;
}

body {
  background-color: $sub-color;
}

.v-toolbar {
  &.v-toolbar--collapsed {
    &.v-app-bar {
      max-width: 200px !important;
      background-color: $sub-color !important;
      border-bottom: 1px #333 solid;
      border-right: 1px #333 solid;
    }
  }
}

.v-parallax__image {
  bottom: 95px !important;
}

.parallax-1 {
  text-align: center;

  .logo {
    height: 180px;
    margin-bottom: 30px;
  }

  h1 {
    font-weight: 800;
  }

  hr {
    margin: 10px 0;
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
}

.parallax-2 {
  background: $sub-color;
  .v-parallax__image-container {
    opacity: 0.4;
  }
}

.parallax-3 {
  background: $main-color;
  .v-parallax__image-container {
    opacity: 0.2;
    .v-parallax__image {
      bottom: -220px !important;
    }
  }
}

.display-block {
  display: block;
}

.padding-30 {
  padding: 30px;
}

//size
.view-height-100 {
  height: 100vh !important;
}

//positions
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-top-left {
  top: 0;
  left: 0;
}

//animations
.animate-wink {
  animation-name: wink;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes wink {
  3% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  9% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
}

.animate-float-box_large-button {
  height: $large-button-size + $animate-float-height;
}

.animate-float {
  animation-name: float;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes float {
  50% {
    margin-top: $animate-float-height;
  }
}

// horizontally
@media (orientation: landscape) {
  .parallax-1 {
    .v-parallax__image {
      width: 100%;
      height: auto;
    }
  }
}

// vertical
@media (orientation: portrait) {
  .parallax-1 {
    .v-parallax__image {
      width: auto;
      height: 100%;
      left: -85% !important;
    }
  }
}

// xs
@media (max-width: 599px) {
}

// sm
@media (min-width: 600px) and (max-width: 959px) {
}

// md
@media (min-width: 960px) and (max-width: 1263px) {
}

// lg
@media (min-width: 1264px) and (max-width: 1903px) {
}

// xl
@media (min-width: 1904x) {
}
